* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Raleway", sans-serif;
}

$color-principal: rgb(247, 214, 117);
$color-principal-oscuro: rgb(175, 148, 48);
$color-arena: #9b8865;
$color-piel: rgb(224, 202, 185);
$color-piel-claro: rgb(253, 240, 213);
$gris-oscuro: rgb(54, 50, 50);
$gris-claro: rgb(95, 90, 90);

$f-size-f: 1rem; //Ejemplo en footer multiplicación, y en navbar de suma y resta
