/* Home */
//Variables color
$color-1: #a69c80;
$color-2: #59310e;
$color-3: #f2e3d5;
$color-4: #262321;
$color-5: #d9d5d2;
$color-6: #d99d55;
$color-7: #d9bfa0;
$color-8: #8c6b4f;
$color-9: #403429;
$gris-oscuro: rgb(54, 50, 50);
$gris-claro: rgb(95, 90, 90);

.container-carousel {
  display: none;
}

.img__mobile {
  background-image: url(../imagenes/mujerhidroafuera.png);
  width: 100%;
  height: 100vh;
  margin-top: 3rem;
  margin-bottom: 0;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  font-family: "Cinzel", serif;
  font-size: 4.5rem;
  text-align: center;
  padding-top: 3rem;
  color: $gris-oscuro;
}

.box {
  margin: 2rem 2rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: "Cinzel", serif;
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
  }
  &__text {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 3rem;
  }
  &__img {
    width: 85%;
  }
}

.article {
  &__title {
    font-size: 1.5rem;
    padding: 0.4rem;
    text-align: center;
    color: white;
    font-weight: lighter;
    background-color: $color-8;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-direction: normal;
    animation-name: aparecer2;
  }
  @keyframes aparecer2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &__first--text {
    padding: 0.3rem;
    line-height: 1.5rem;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  &__second--text {
    padding: 0.3rem;
    line-height: 1.5rem;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }
}

//Ejemplo de each
@each $titles in first, second {
  .article__#{$titles}--title {
    font-family: "Cinzel", serif;
    color: $color-8;
    padding: 0.2rem;
    margin-top: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
}
