$gris-oscuro: rgb(54, 50, 50);
$gris-claro: rgb(95, 90, 90);

@media (min-width: 600px) {
  .contact__container {
    background-image: url(/imagenes/imagenprincipal.jpg);
    width: 100%;
    height: 650px;
    margin-top: 3.5rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .contact {
    margin: 0.5rem auto 0.5rem auto;
    padding: 0.5rem;
    height: 16rem;
    opacity: 0.8;
    &__subtitle {
      font-size: 1rem;
      padding: 0.5rem;
      font-weight: bolder;
    }
    &__text {
      font-size: 1rem;
      text-align: center;
    }
    &__link {
      font-size: 1.1rem;
      text-decoration: none;
      padding: 0.3rem;
      text-align: center;
      color: $color-8;
    }
  }
  .img__mobile {
    display: none;
  }
  .container-carousel {
    display: inline;
  }
  .carousel-item img {
    margin-top: 2.9rem;
    width: 100%;
    height: auto;
  }
  .title__carousel {
    font-size: 4rem;
    color: $color-3;
    &--b {
      font-size: 4em;
      color: $gris-oscuro;
    }
  }
  .description__carousel {
    font-size: 1rem;
    &--b {
      font-size: 1rem;
      color: $gris-oscuro;
    }
  }
  .article {
    &__title {
      font-size: 2rem;
      padding: 0.4rem;
      text-align: center;
      color: white;
      font-weight: lighter;
      background-color: $color-8;
      animation-duration: 3s;
      animation-iteration-count: initial;
      animation-direction: normal;
      animation-name: aparecer2;
    }
    @keyframes aparecer2 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &__first--text {
      padding: 0.3rem;
      line-height: 1.5rem;
    }

    &__second--text {
      padding: 0.3rem;
      line-height: 1.5rem;
    }
  }
  //Ejemplo de each
  @each $titles in first, second {
    .article__#{$titles}--title {
      color: $color-8;
      padding: 0.1rem;
      margin-left: 0.2rem;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
  .footer__links {
    margin-right: 2rem;
    font-size: 2rem;
  }
}

@media (min-width: 990px) {
  .carousel-item img {
    margin-top: 2.9rem;
    width: 100%;
    height: auto;
  }
  .title__carousel {
    font-size: 7rem;
    color: white;
    &--b {
      font-size: 7em;
      color: $gris-oscuro;
    }
  }
  .description__carousel {
    font-size: 1.2rem;
    &--b {
      font-size: 1.2rem;
      color: $gris-oscuro;
    }
  }
  .navbar {
    background-color: rgb(65, 63, 63);
    height: 3.5rem;
  }
  .navbar-nav {
    background-color: rgb(65, 63, 63);
    height: auto;
    margin: 0;
    padding-top: 0;
  }
  .nav-item {
    margin: 0;
  }
  .nav-item i {
    display: none;
  }
  .logo-a {
    text-decoration: none;
    margin-right: 1.3rem;
    color: #e9dfcd;
    font-size: 1.2rem;
    font-weight: 520;
  }
  .nav-a {
    text-decoration: none;
    color: #e9dfcd;
    font-size: 1rem;
    margin-right: 1.3rem;
  }
  .logo-a:hover {
    color: $color-6;
    transition: 0.3s;
    opacity: 1;
  }
  .nav-a:hover {
    color: $color-6;
    transition: 0.3s;
    opacity: 1;
  }
  .container-ac {
    margin: 3rem auto;
  }
  .footer__container--copyright h4 {
    font-size: 1.1rem;
  }
  .form__fields {
    border: none;
  }
  .contact {
    margin: 5rem auto 2rem auto;
    padding: 0.5rem;
    height: 20rem;
    opacity: 0.8;
    &__title {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
    &__subtitle {
      font-size: 1.2rem;
      padding: 0.5rem;
      font-weight: bolder;
    }
    &__text {
      font-size: 1.2rem;
      text-align: center;
    }
    &__link {
      font-size: 1.1rem;
      text-decoration: none;
      padding: 0.3rem;
      text-align: center;
      color: $color-8;
    }
  }
}
@media (max-width: 360px) {
  .contact__grid {
    width: 360px;
  }
}
