$gris-oscuro: rgb(54, 50, 50);
$gris-claro: rgb(95, 90, 90);

@media (min-width: 600px) {
  .serv-mobile {
    display: none;
  }
  .img-serv {
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
  }
  .box {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: 4rem;
      text-align: center;
      padding: 0 5rem;
      margin-top: 2rem;
    }
    &__text {
      font-size: 0.9rem;
      text-align: center;
      padding: 0 5rem;
    }
    &__img {
      width: 75%;
    }
  }
  .contact {
    margin: 0.5rem auto 0.5rem auto;
    padding: 0.5rem;
    height: 16rem;
    opacity: 0.8;
    &__subtitle {
      font-size: 1rem;
      padding: 0.5rem;
      font-weight: bolder;
    }
    &__text {
      font-size: 1rem;
      text-align: center;
    }
    &__link {
      font-size: 1.1rem;
      text-decoration: none;
      padding: 0.3rem;
      text-align: center;
      color: $color-8;
    }
  }
  .img__mobile {
    display: none;
  }
  .container-carousel {
    display: inline;
  }
  .carousel-item img {
    margin-top: 2.9rem;
    width: 100%;
    height: auto;
  }
  .title__carousel {
    font-size: 4rem;
    color: $color-3;
    &--b {
      font-size: 4em;
      color: $gris-oscuro;
    }
  }
  .description__carousel {
    font-size: 1rem;
    &--b {
      font-size: 1rem;
      color: $gris-oscuro;
    }
  }
  .article {
    &__title {
      font-size: 2.4rem;
      padding: 0.4rem;
      text-align: center;
      color: white;
      font-weight: lighter;
      background-color: $color-8;
      animation-duration: 4s;
      animation-iteration-count: initial;
      animation-direction: normal;
      animation-name: aparecer2;
    }
    @keyframes aparecer2 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &__first--text {
      padding: 0.3rem;
      line-height: 1.5rem;
    }

    &__second--text {
      padding: 0.3rem;
      line-height: 1.5rem;
    }
  }
  //Ejemplo de each
  @each $titles in first, second {
    .article__#{$titles}--title {
      color: $color-8;
      padding: 0.1rem;
      margin-top: 2rem;
      margin-left: 0.2rem;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }
  .footer__links {
    margin-right: 2rem;
    font-size: 2rem;
  }
}

@media (min-width: 990px) {
  .carousel-item img {
    margin-top: 2.9rem;
    width: 100%;
    height: auto;
  }
  // .carousel-caption {
  //   padding-bottom: 10rem;
  // }
  .title__carousel {
    font-size: 7rem;
    color: white;
    &--b {
      font-size: 7em;
      color: $gris-oscuro;
    }
  }
  .description__carousel {
    font-size: 1.2rem;
    &--b {
      font-size: 1.2rem;
      color: $gris-oscuro;
    }
  }
  .navbar {
    background-color: rgb(65, 63, 63);
    height: auto;
  }
  .navbar-nav {
    background-color: rgb(65, 63, 63);
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .nav-item i {
    display: none;
  }
  .logo-a {
    text-decoration: none;
    margin-right: 1.3rem;
    color: #e9dfcd;
    font-size: 1.5rem;
    font-weight: 520;
  }
  .nav-a {
    text-decoration: none;
    color: #e9dfcd;
    font-size: 1rem;
  }
  .logo-a:hover {
    color: $color-6;
    transition: 0.3s;
    opacity: 1;
  }
  .nav-a:hover {
    color: $color-6;
    transition: 0.3s;
    opacity: 1;
  }
  .container-ac {
    margin: 3rem auto;
  }
  .box {
    margin: 4rem 4rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    &__saborea {
      flex-direction: row-reverse;
    }

    &__title {
      font-size: 6rem;
      font-weight: lighter;
      text-align: center;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-name: aparecer1;
    }
    @keyframes aparecer1 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &__text {
      font-size: 1rem;
      text-align: center;
      padding: 1rem 3rem;
    }
    &__img {
      width: 75%;
    }
  }
  .footer__container--copyright h4 {
    font-size: 1.1rem;
  }
  .form {
    &__container {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: initial;
    }
    &__ifr-contact {
      width: 50%;
      height: auto;
      margin: 1rem 1rem 1rem 4rem;
    }
    &__input--textarea {
      width: 20rem;
      height: 250px;
      outline: none;
      border: 1.4px solid rgb(201, 196, 196);
      border-radius: 10px;
    }
  }
  .contact {
    margin: 6.5rem auto 6.5rem auto;
    padding: 0.5rem;
    height: 20rem;
    opacity: 0.8;
    &__title {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
    &__subtitle {
      font-size: 1.2rem;
      padding: 0.5rem;
      font-weight: bolder;
    }
    &__text {
      font-size: 1.2rem;
      text-align: center;
    }
    &__link {
      font-size: 1.1rem;
      text-decoration: none;
      padding: 0.3rem;
      text-align: center;
      color: $color-8;
    }
  }
}
@media (max-width: 360px) {
  .contact__grid {
    width: 360px;
  }
}

@media (min-width: 600px) {
  .contact__container {
    background-image: url(/imagenes/mascara.jpg);
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .contact__container {
    background-image: url(/imagenes/imagenprincipal.jpg);
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
