//Variables color mías
$color-1: #a69c80;
$color-2: #59310e;
$color-3: #f2e3d5;
$color-4: #262321;
$color-5: #d9d5d2;
$color-6: #d99d55;
$color-7: #d9bfa0;
$color-8: #8c6b4f;
$color-9: #403429;
$color-nav: #faf6ef;
$gris-oscuro: rgb(54, 50, 50);
$gris-claro: rgb(95, 90, 90);

.navbar {
  background-color: $gris-oscuro;
  height: 3.5rem;
}
.navbar-nav {
  background-color: $gris-oscuro;
  width: 100%;
  height: 300px;
  margin-top: 0.6rem;
}
.nav-item {
  margin: 1rem;
}
.nav-item i {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: $color-3;
}
.logo-a {
  text-decoration: none;
  margin-left: 1rem;
  color: $color-3;
  font-size: 1.4rem;
  font-weight: 520;
}
.nav-a {
  text-decoration: none;
  color: $color-3;
  font-size: 1.2rem;
}
.nav-a:focus {
  color: $color-6;
}
.navbar-toggler {
  color: $color-3;
  font-size: 1.5rem;
}
