$color-1: #a69c80;
$color-2: #59310e;
$color-3: #f2e3d5;
$color-4: #262321;
$color-5: #d9d5d2;
$color-6: #d99d55;
$color-7: #d9bfa0;
$color-8: #8c6b4f;
$color-9: #403429;

.ifr {
  margin: 3.5rem 0 0 0;
  width: 100%;
  max-width: 1450px;

  &__container--description {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  &__description {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    flex-basis: 350px;
  }

  &__link {
    margin: 2rem;
  }
}

@mixin gradient($color-gr, $color-gr1) {
  background-image: linear-gradient(to bottom right, $color-gr, $color-gr1);
}
.ifr {
  @include gradient(rgba(255, 250, 241, 0.726), rgba(226, 191, 126, 0.671));
}

/* Premios */
.premios__title {
  padding: 0.4rem;
  text-align: center;
  color: white;
  font-weight: lighter;
  background-color: $color-8;
  animation-duration: 3s;
  animation-iteration-count: initial;
  animation-direction: normal;
  animation-name: aparecer2;
}
.premios {
  margin: 0 auto;
  width: 85%;
  max-width: 1100px;
  &__info {
    display: flex;
    justify-content: center;
  }
  &__info--text {
    padding-top: 1.8rem;
    color: rgb(41, 39, 39);
    font-variant: small-caps;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
  }
  &__container--img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    opacity: 80%;
  }
  &--firstimg {
    width: 14rem;
    height: auto;
    margin: 1rem;
  }

  &--secondimg {
    height: auto;
    margin: 1rem;
  }

  &--firstimg:hover {
    transform: scale(1.2);
    transition: 0.8s;
  }

  &--secondimg:hover {
    transform: scale(1.2);
    transition: 0.8s;
  }
}

$tamaño: premios; //Variable para ejemplo de condicionales-sección prensa

.premios--secondimg {
  @if $tamaño == premios {
    width: 14rem;
  } @else if $tamaño == galery {
    width: 16rem;
  } @else if $tamaño == article {
    width: 18rem;
  } @else {
    width: 12rem;
  }
}
