/* Galeria1 */
.container-galery {
  margin-top: 4.5rem;
}
.card {
  margin: 0.5rem 1rem 1rem 1rem;
  border: none;
}
.card-title {
  font-family: "Cinzel", serif;
  font-size: 2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button-discover {
  text-decoration: none;
  padding: 0.3rem 2.5rem 0.3rem 2.5rem;
  background-color: #d99f6c;
  color: white;
  border-radius: 5px;
}
.button-discover:hover {
  color: antiquewhite;
  opacity: 0.9;
  transition: 0.3s;
}
