@import "custom";
@import "index";
@import "servicios";
@import "sitios";
@import "galeria";
@import "prensa";
@import "contacto";
@import "navbar";
@import "footer";
@import "mediaqueries";
@import "globals";
@import "error404";
